body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer{
    display: grid;
    grid-template-columns: auto 50% auto;
}

@media only screen and (max-width: 600px) {
    .mainContainer{
        display: grid;
        grid-template-columns: auto;
    }
  }
  